{% extends 'mail/base/base.html' %}
{% block title %} Debit Payment {% endblock %}


{% block content %}
        <p style="font-weight: bold; font-family: 'Inter', 'sans-serif'; font-size: 20px; font-weight: 700;">Hello [Username],</p>

        <div style="width: 95%; font-family: 'Inter', 'sans-serif'; margin-bottom: 40px; font-size: 16px; font-weight: 400; color: #B1B1B1;">
            <p style="width: 90%;">
                Your  have been debited  with the sum of NGN 1,300. 00 from  your Trendit3  account for the Payment of advertisement  task which you created. To view your transaction and available balance on your Trendit3 account click on the button below
            </p>         
        </div>
        
        <a style="background-color: #DA348F; font-family: 'Inter', 'sans-serif'; text-decoration: none; text-align: center; font-size: 16px; font-weight: 600; width: 290px; height: 49px; padding: 14px 72px 14px 72px; border-radius: 80px; color: #fff;">
            View Account
        </a>
        
        <div class="spacer" style="line-height:40px;height:40px;">&nbsp;</div>

        <div style="width: 95%; font-size: 16px; font-weight: 400; margin-top: 45px; color: #B1B1B1; font-family: 'Inter', 'sans-serif';">
            <p>
                For further enquires, please contact our customers support through the following channels:
            </p>
        </div>

        <div style="width: 95%; font-size: 16px; font-weight: 400; color: #B1B1B1; font-family: 'Inter', 'sans-serif';">
            <p>Email: <a href="" style="color: blue;">{{ config.SUPPORT_EMAIL }}</a></p>
            <div class="spacer" style="line-height:15px;height:15px;">&nbsp;</div>
            <p>
                Thanks for choosing Trendit3.
            </p>
        </div>

        <div class="spacer" style="line-height:400px;height:400px;">&nbsp;</div>
{% endblock %}

